---
import Main from '../../layouts/Layout.astro';
---

<Main title="About">
    <article class="m-20 md:px-20 flex flex-wrap items-center justify-center">
        <h1 class="md:text-6xl text-5xl font-black mb-6">ABOUT ME</h1>
        <div class="content">
            <p class="mb-6 text-lg">
                I am a former theoretical astrophysicist who studied the Epoch
                of Reionisation (EoR), which occurs during the first billion years of 
                our Universe. The EoR refers to the ionisation of the neutral hydrogen
                in the empty space between galaxies. This ionisation is caused by the
                intense ionising radiation emitted by the formation of stars within
                each galaxy.
            </p>
            <p class="mb-6 text-lg">
                I used both real-world observationa and semi-numerical simulations 
                to unlock insights into the EoR and the physical processes responsible.
                Primarily my research focussed on employing Bayesian statistics to 
                tease out the interesting astrophysical information from the wealth of
                data. I also dabbled in machine learning, in particular simulation-based
                inference, when more traditional means of performing Bayesian inference
                became too computationally intensive. To find out more details about how
                the various research projects I have led, take a look at my <a
                href="/research" class="hover:underline font-bold">research page</a>.
            </p>
            <p class="mb-6 text-lg">
                Having spent over 10 years as a post-doctoral research fellow seeking
                the illusive signal from the EoR, I am now seeking employment where my extensive
                research and data wrangling skills will be of benefit.
            </p>
        </div>
    </article>
</Main>
