---
import Main from '../../layouts/Layout.astro';
---

<Main title="Travel">
    <article class="m-20 md:px-20 flex flex-wrap items-center justify-center">
        <h1 class="md:text-6xl text-5xl font-black mb-6">TRAVEL</h1>
        <div class="content">
            <p class="mb-6 text-lg">
                Living the academic lifestyle has provided me numerous opportunities to travel the world,
                which supplemented my own personal interests in travel. This is driven by my interests
                in the natural world and architecture (but also food).
                <br> </br> 
                Below is a map I created to help me keep track of most of the places I have been. Mostly
                the cities or interesting sites rather than every random little place.
            </p>
        </div>
        <div class="content" >
            <iframe src="https://www.google.com/maps/d/embed?mid=1q3bVL-stJndcmIi1kl-DEBTNDtm7gRc&ehbc=2E312F&noprof=1" width="1280" height="640"></iframe>
        </div>
    </article>
</Main>
