---
import Main from '../../layouts/Layout.astro';
---

<Main title="Data Science">
    <article class="m-20 md:px-20 flex flex-wrap items-center justify-center">
        <h1 class="md:text-6xl text-5xl font-black mb-6">TOY DATA SCIENCE PROJECTS</h1>
        <div class="content">
            <p class="mb-6 text-lg">
		On this page I'll summarise various toy data oriented projects that I have been messing around with.
            </p>
            <p class="mb-6 text-lg">
		First up, developing predictive models for determining the AFL Brownlow medal outcome. For more details, head <a
href="https://bradgreig.github.io/brownlow-predictor/" target="_blank"
                class="hover:underline font-bold">here</a>
            </p>
            <p class="mb-6 text-lg">
            </p>
        </div>
    </article>
</Main>
